[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"

[dev-packages]
pylint = "*"
"pep8" = "*"
mypy = "*"

[requires]
python_version = "3.6"
